<?xml version="1.0"?>
<model>
	<name>simple_robot</name>
	<version>1.0</version>
	<sdf>urdf/TargetBot.urdf</sdf>
	<author>
		<name>Liang Jingjing</name>
		<email>liang_jingjing9@hotmail.com</email>
	</author>
	<description>
		A simple robot with two driving wheels, one castor wheel and a 2D lidar attached.
	</description>
</model>
